<h3>
  {{ Titulo }}
</h3>
<hr>

<div *ngIf="!productos">
  Cargando listado de productos
</div>

<div *ngIf="productos">
  <div class="row">
    <div class="col-lg-3" *ngFor="let Producto of productos">
      <div class="thumbnail">
        <div *ngIf="Producto.imagen" class="imagen_container">
          <img src="http://localhost/Curso-Angular4-Backend/index.php/uploads/{{ Producto.imagen }}" class="producto_imagen"/>
        </div>
      </div>

      <div *ngIf="!Producto.imagen">
        <div class="imagen_relleno"></div>
      </div>

        <div class="caption">
          <h3>{{ Producto.nombre }}</h3>
          <p>{{ Producto.precio }}</p>

          <div class="botones" *ngIf="confirmado == null">
            <a [routerLink]="['/Producto', Producto.id]" class="btn btn-md btn-primary">Ver</a>
            <a [routerLink]="['/Editar-producto', Producto.id]" class="btn btn-md btn-success">Editar</a>
            <a (click)="borrarConfrim(Producto.id)" class="btn btn-md btn-danger">Eliminar</a>
          </div>

          <div class="seguro" *ngIf="confirmado == Producto.id">
            <p>¿Estas seguro que quieres borrar este producto?</p>
            <!--<a (click)="onDeleteProducto(id)" class="btn btn-md btn-danger">Borrar</a>-->
            <a (click)="cancelarconfirm()" class="btn btn-md btn-warning">Cancelar</a>
        </div>
    </div>
  </div>
</div>
